// Specific CSS for your home-page
.testimonials-section {
  text-align: center;
  margin: 50px;
}

.testimonials-grid {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 50px;
}

.testimonial-card {
  width: 150px;
  height: 100px;
  background-color: $primary /* Placeholder background */
}

// .testimonial-logo img {
//   max-width: 80px;
//   max-height: 80px;
//   object-fit: contain;
// }
