.banner {
  display: grid;
  padding: 100px 150px 100px 150px;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  background: $primary;

  h1, h2{
    color: $light;
  }
}

.banner-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px; /* Spacing between elements */
}

.banner-title {
  font-weight: bold;
  width: 70%;
}

.banner-stats {
  display: flex;
  gap: 40px; /* Space between stat blocks */
  margin: 10px 0;

  .stat {
    display: flex;
    flex-direction: column;

    .stat-value {
      font-size: 2rem;      // This makes the stat number prominent
      line-height: 1.2;
      font-weight: bold;
      color: $warning; /* e.g., teal or any accent color */
    }

    .stat-label {
      color: $light; /* or $secondary, depends on your palette */
      text-transform: uppercase;
      // letter-spacing: 0.05em;
      // opacity: 0.8;
    }
  }
}

.banner-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $primary;

  .placeholder-image {
    width: 300px;
    height: 200px;
    background-color: $primary; /* Placeholder color */
    border-radius: 8px;
    /* Or <%= image_tag "hero_image.png" %> with your real image */
  }
}
